{%- extends "index.html" %}
{% block content %}
<div class="container-fluid">
      <div id="sl">
          <h2>Establishments all</h2>
        {% for entry in entries %}
        <div class="well">
            {% if "count" in entry %}
            <p>TOTAL: {{ entry.count }}</p>
            {% else %}
             <h3>{{ entry.establishment_name }}</h3>
          <div class="row">
            <div class="col-md-3">
               <div>OIB: <b>{{ entry.oib }}</b></div>
            </div>
              <div class="col-md-3">
               <div>Address: <b>{{ entry.establishment_address }}</b></div>
            </div>
            <div class="col-md-3">
               <div>Municipality: <b>{{ entry.establishment_municipality }}</b></div>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    <a class="btn btn-info btn-sm" href="/{{ entry.id }}">List Inspections</a>
                </div>
            </div>
           </div>
            {% endif %}
        </div>
        {% endfor %}
       </div>
       </div>
{% endblock content %}